In [153]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly as pt

In [154]:
df = pd.read_csv('Combined_Jobs_Final.csv')

In [155]:
df

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,Food and Beverages,Tacolicious' first Palo Alto store just opened...,NaN,8.00,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,Food and Beverages,\r\n\r\nNew French Brasserie in S.F. Financia...,NaN,0.00,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean wine bar and re...,NaN,11.00,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC
3,121,1,open,brisbane-ca-teriyaki-house-server,Server @ Teriyaki House,Server,Teriyaki House,Brisbane,California,CA,...,Food and Beverages,● Serve food/drinks to customers in a profess...,NaN,10.55,NaN,NaN,Part-Time,NaN,2013-09-04 15:40:30 UTC,2014-08-16 15:35:38 UTC
4,127,1,open,los-angeles-ca-rosa-mexicano-sunset-kitchen-st...,Kitchen Staff/Chef @ Rosa Mexicano - Sunset,Kitchen Staff/Chef,Rosa Mexicano - Sunset,Los Angeles,California,CA,...,Food and Beverages,"Located at the heart of Hollywood, we are one ...",NaN,10.55,NaN,NaN,Part-Time,NaN,2013-07-17 15:26:18 UTC,2014-08-16 15:35:40 UTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84085,82,1,open,san-francisco-ca-national-japanese-american-hi...,Book Keeper @ National Japanese American Histo...,Book Keeper,National Japanese American Historical Society,San Francisco,California,CA,...,Office Administration,NJAHS stands for National Japanese American Hi...,NaN,20.00,NaN,NaN,Part-Time,NaN,2013-03-20 06:35:01 UTC,2014-08-16 15:35:27 UTC
84086,83,1,open,larkspur-ca-emporio-rulli-kitchen-staff-chef,Kitchen Staff/Chef @ Emporio Rulli,Kitchen Staff/Chef,Emporio Rulli,Larkspur,California,CA,...,Food and Beverages,Weekend Brunch Line Cook \r\n● Other shifts ma...,NaN,10.55,NaN,NaN,Part-Time,NaN,2013-03-20 08:06:43 UTC,2014-08-16 15:35:27 UTC
84087,84,1,open,san-francisco-ca-onigilly-driver-84,Driver @ Onigilly,Driver,Onigilly,San Francisco,California,CA,...,Food and Beverages,ONIGILLY (Japanese rice ball wraps) seeks outg...,NaN,11.00,NaN,NaN,Part-Time,NaN,2013-03-12 01:47:13 UTC,2014-08-16 15:35:27 UTC
84088,88,1,open,san-francisco-ca-machka-restaurants-corp-line-...,Line Cook @ Machka Restaurants Corp.,Line Cook,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean restaurant in F...,NaN,13.00,NaN,NaN,Part-Time,NaN,2013-07-16 08:55:22 UTC,2014-08-16 15:35:28 UTC
84089,92,1,open,san-jose-ca-kazoo-restaurant-cashier,Cashier @ Kazoo Restaurant,Cashier,Kazoo Restaurant,San Jose,California,CA,...,Food and Beverages,We are looking for a cashier! \r\n\r\n ● Take...,NaN,10.00,NaN,NaN,Part-Time,NaN,2013-03-27 09:35:04 UTC,2014-08-16 15:35:30 UTC

In [45]:
df['Requirements'].value_counts()

Series([], Name: count, dtype: int64)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84090 entries, 0 to 84089
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job.ID              84090 non-null  int64
 1   Provider            84090 non-null  int64
 2   Status              84090 non-null  object
 3   Slug                84090 non-null  object
 4   Title               84090 non-null  object
 5   Position            84090 non-null  object
 6   Company             81819 non-null  object
 7   City                83955 non-null  object
 8   State.Name          83919 non-null  object
 9   State.Code          83919 non-null  object
 10  Address             36 non-null     object
 11  Latitude            84090 non-null  float64
 12  Longitude           84090 non-null  float64
 13  Industry            267 non-null    object
 14  Job.Description     84034 non-null  object
 15  Requirements        0 non-null      float64
 16  Salary              229 non-null    float64
 17  Listing.Start       83407 non-null  object
 18  Listing.End         83923 non-null  object
 19  Employment.Type     84080 non-null  object
 20  Education.Required  83823 non-null  object
 21  Created.At          84090 non-null  object
 22  Updated.At          84090 non-null  object
dtypes: float64(4), int64(2), object(17)
memory usage: 14.8+ MB

In [156]:
new_df = df[['Title','Job.Description','Salary']]

In [157]:
new_df

,Title,Job.Description,Salary
0,Server @ Tacolicious,Tacolicious' first Palo Alto store just opened...,8.00
1,Kitchen Staff/Chef @ Claude Lane,\r\n\r\nNew French Brasserie in S.F. Financia...,0.00
2,Bartender @ Machka Restaurants Corp.,We are a popular Mediterranean wine bar and re...,11.00
3,Server @ Teriyaki House,● Serve food/drinks to customers in a profess...,10.55
4,Kitchen Staff/Chef @ Rosa Mexicano - Sunset,"Located at the heart of Hollywood, we are one ...",10.55
...,...,...,...
84085,Book Keeper @ National Japanese American Histo...,NJAHS stands for National Japanese American Hi...,20.00
84086,Kitchen Staff/Chef @ Emporio Rulli,Weekend Brunch Line Cook \r\n● Other shifts ma...,10.55
84087,Driver @ Onigilly,ONIGILLY (Japanese rice ball wraps) seeks outg...,11.00
84088,Line Cook @ Machka Restaurants Corp.,We are a popular Mediterranean restaurant in F...,13.00
84089,Cashier @ Kazoo Restaurant,We are looking for a cashier! \r\n\r\n ● Take...,10.00

In [49]:
sample_df = new_df.sample(n=10000, random_state=42)

In [50]:
new_df['Title'][0]

'Server @ Tacolicious'

In [81]:
import nltk 
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

In [82]:
ps = PorterStemmer()

In [112]:
import re

In [151]:
#function 
def clean(text):
    if isinstance(text, str):
        clean =  re.sub(r'[^a-zA-Z0-9/s]', ' ', text)
        clean = clean.lower()
        clean = nltk.word_tokenize(clean)
        stem = [ps.stem(word)for word in clean if word not in stopwords.words('english') ]
        return " ".join(stem)
    else:
        return text

In [158]:
sample_df['Title'] = sample_df['Title'].astype(str).apply(lambda x: clean(x))
sample_df['Job.Description'] = sample_df['Job.Description'].astype(str).apply(lambda x: clean(x))

KeyError: 'Title'

In [115]:
sample_df['newcollumn']=sample_df['Title'].astype(str) + " " + sample_df['Job.Description'].astype(str)

In [57]:
sample_df.reset_index(drop=True, inplace=True)
df = sample_df

In [58]:
df

,Title,Job.Description,Salary
0,Site Director @ Knowledge Universe,Job Summary Knowledge Universe (KU) Site Direc...,NaN
1,Administrative Assistant @ OfficeTeam,Ref ID: 03110-118480Classification: Secretary/...,NaN
2,Account Manager @ CHI Payment Systems,"If you&rsquo;re energetic, motivated, hardwork...",NaN
3,Outside Wholesale Sales Rep (PART-TIME) @ Rive...,OUTSIDE WHOLESALE SALES REP\r\n\r\nJob Respons...,NaN
4,Customer Service Rep- Help People with Hearing...,CaptionCall® Communication Assistant Imagi...,NaN
...,...,...,...
9995,Lifeguard @ Merritt Athletic Clubs,We are looking for motivated and reliable&nbsp...,NaN
9996,Customer Service Representative @ OfficeTeam,Ref ID: 01340-121281Classification: Customer S...,NaN
9997,Sales Associate - Part-Time @ Ethan Allen Glob...,\r\nGENERAL OBJECTIVES&nbsp;&nbsp;&nbsp;&nbsp;...,NaN
9998,Part Time Retail Merchandiser @ Driveline Retail,Driveline is currently\r\nseeking motivated an...,NaN
9999,Food Services Worker @ Providence Health & Ser...,"Providence is calling a 0.8 FTE, Day Shift Foo...",NaN

In [74]:
from sklearn.feature_extraction.text  import  TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [138]:
tfidf = TfidfVectorizer()
matrix = tfidf.fit_transform(sample_df['newcollumn'])
similarity  = cosine_similarity(matrix)

In [139]:
similarity

array([[1.        , 0.07881856, 0.09519279, ..., 0.07362318, 0.02619189,
        0.06085541],
       [0.07881856, 1.        , 0.077564  , ..., 0.04517048, 0.02655562,
        0.04359815],
       [0.09519279, 0.077564  , 1.        , ..., 0.31196164, 0.36020399,
        0.06273065],
       ...,
       [0.07362318, 0.04517048, 0.31196164, ..., 1.        , 0.68987048,
        0.05499428],
       [0.02619189, 0.02655562, 0.36020399, ..., 0.68987048, 1.        ,
        0.02102275],
       [0.06085541, 0.04359815, 0.06273065, ..., 0.05499428, 0.02102275,
        1.        ]])

In [149]:

def recommandation(title):
    idx= sample_df[sample_df['Title'] == title].index[0]
    idx = sample_df.index.get_loc(idx)
    distance = sorted(list(enumerate(similarity[idx])), key = lambda x:x[1], reverse = True)[1:11]
    
    jobs = []
    for i in distance:
        jobs.append(df.iloc[i[0]].Title)
    return jobs

In [150]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

recommandation('administr assist officeteam')

KeyError: 'Title'